@model string[]
@if (Model[0] == "Register")
{
    <!-- Lookup control -->
    <script src="../../Scripts/lookup.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.mcautocomplete.js" type="text/javascript"></script>
}
else
{
    <!-- 
    arg 1 - id
    arg 2 - place holder
    arg 3 - class
    arg 4 - mandatory
    arg 5 - value  - display text (text field)
    arg 6 - text - hidden value (value field)
     -->
    <div class="input-append">
        <input id="@Model[0]" name="@Model[0]" placeholder="@Model[1]" class="@Model[2]" data-val="@Model[3]" data-val-required="This field is required" islookup="true" type="text" value="" text="" >
        <button title="Search Lookup" islookup="true" lookupid="@Model[0]" class="btn drodpown-toggle" data-toggle="dropdown">
            <span class="icon-search"></span>
        </button>
        <div class="btn-group">
            <button title="Lookup Task" onclick="LoadLookup('@Model[0]');" class="btn drodpown-toggle" data-toggle="dropdown">
                <i class="icon-th-list"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="SelectAll('@Model[0]');">All</a></li>
                <li><a href="#" onclick="ClearLookup('@Model[0]');">Clear</a></li>
            </ul>
        </div>
        <!-- /btn-group -->
    </div>
}