@model MVCDataModel.TankContact
@Html.Partial("_Dialog")
<script type="text/javascript">
        var model = null;
        $(document).ready(function () {

            model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));

            $('#btnContactUpdate').bind('click', function () {
                try {
                    if (!$('#frmTankContact').valid())
                        return;

                    model.TankID = $('#hdnTankId').val();
                    model.LastName = $('#txtFName').val();
                    model.FirstName = $('#txtLName').val();
                    model.MiddleName = $('#txtMidName').val();
                    model.Address = $('#txtAddress').val();
                    model.City = $('#txtCity').val();
                    model.State = $('#ddlState').val();
                    model.Zip = $('#txtZip').val();
                    model.PhoneNumber = $('#txtPhone').val();
                    model.PhoneType = $('#txtPhoneType').val();


                    //Pass it to a controller method
                    $.post("SaveTankContact",
                {
                    viewModel: JSON.stringify(model)
                },
                function (data) {

                    if (data.result == "fail") {
                        AlertDialogError(data.message);
                        return;
                    }
                    AlertDialogSuccess(data.message);

                });
                }
                catch (e) {
                    ScriptDialogError(e);
                }

            });

            $("#btnContactCancel").bind("click", function (e) {
                ClearForm();
            });

        }); 
    
    </script>
<form id="frmTankContact" class="form-horizontal">
<div class="">
    <div class="row-fluid">
        <div class="control-group">
            <label class="control-label" for="txtFName">
                First Name <sup style='color:Red' >*</sup> </label>
            <div class="controls">
                <input type="text" id="txtFName" name="txtFName" value="@Model.FirstName" data-val="true" data-val-required="The field is required." />
                <label class="field-validation-valid" data-valmsg-for="txtFName" data-valmsg-replace="true">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtLName">
                Last Name <sup style='color:Red' >*</sup> </label>
            <div class="controls">
                <input type="text" id="txtLName" name="txtLName" value="@Model.LastName" data-val="true" data-val-required="The field is required." />
                <label class="field-validation-valid" data-valmsg-for="txtLName" data-valmsg-replace="true">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtMidName">
                Middle Name</label>
            <div class="controls">
                <input type="text" id="txtMidName" name="txtMidName" value="@Model.MiddleName" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtAddress">
                Address <sup style='color:Red' >*</sup> </label>
            <div class="controls">
                <input type="text" id="txtAddress" name="txtAddress" value="@Model.Address" data-val="true" data-val-required="The field is required." />
                <label class="field-validation-valid" data-valmsg-for="txtAddress" data-valmsg-replace="true">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtCity">
                City <sup style='color:Red' >*</sup> </label>
            <div class="controls">
                <input type="text" id="txtCity" name="txtCity" value="@Model.City" data-val="true" data-val-required="The field is required." />
                <label class="field-validation-valid" data-valmsg-for="txtCity" data-valmsg-replace="true">
                </label>
            </div>
        </div>
        @Html.Partial("_EditState", new string[] { "true", @Model.State })
        <div class="control-group">
            <label class="control-label" for="txtZip">
                ZIP Code <sup style='color:Red' >*</sup> </label>
            <div class="controls">
                <input type="text" id="txtZip" name="txtZip" value="@Model.Zip" class="psezipcode" data-val="true" data-val-required="The field is required." />
                <label class="field-validation-valid" data-valmsg-for="txtZip" data-valmsg-replace="true">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtPhone">
                Phone Number <sup style='color:Red' >*</sup></label>
            <div class="controls">
                <input type="text" id="txtPhone" name="txtPhone" value="@Model.PhoneNumber" class="psephone" data-val="true" data-val-required="The field is required." />
                <label class="field-validation-valid" data-valmsg-for="txtPhone" data-valmsg-replace="true">
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="txtPhoneType">
                Phone Type</label>
            <div class="controls">
                <input type="text" id="txtPhoneType" name="txtPhoneType" value="@Model.PhoneType" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="button" id="btnContactUpdate" name="Command" data-loading-text="Loading..."
                    value="Update" class="btnAddEdit btn btn-primary">
                    <span class="ui-button-text">Update</span></button>
                <button type="button" id="btnContactCancel" class="btn btn-info">
                    <span class="ui-button-text">Clear</span></button>
            </div>
        </div>
    </div>
</div>
</form>
